<%- include('includes/head.ejs') %>
     <main>
        <div class="container py-md-5">
            <div class="row align-items-center">
              <div class="col-lg-5 pl-lg-5 pb-3 py-lg-5">
                <form class="addexamroom-form" action="/admin/add-exam-room" method="POST">
                    <div class="form-group">
                        <label for="year">Enter Year</label>
                        <input type="text" name="year"  class="form-control form-control-sm input-dark" autocomplete="off" placeholder="year" id="year">
                    </div>
                    <div class="form-group">
                        <label for="branch">Enter Branch</label>
                        <input type="text" name="branch"  class="form-control form-control-sm input-dark" autocomplete="off" placeholder="branch" id="branch">
                    </div>
                    <div class="form-group">
                        <label for="room_name">Enter Room Name</label>
                        <input type="text" name="room_name"  class="form-control form-control-sm input-dark" autocomplete="off" placeholder="Room name" id="room_name">
                    </div>
                    <button class="py-3 mt-4 btn btn-lg btn-success btn-block" type="submit">Assign Exam Rooms</button>
                </form>
              </div>
            </div>
        </div>
     </main>

 <%- include('includes/end.ejs') %>