<%- include('includes/head') %>

<div class="row align-items-center">
    <div class="col-lg-5 pl-lg-5 pb-3 py-lg-5" id="buttons">
        <div><a href="/admin/add-student" class="btn btn-primary">Add Student Details</a></div>
        <div><a href="/admin/view-student" class="btn btn-primary">View Student Details</a></div>
        <div><a href="/admin/view-branch" class="btn btn-primary">View Branch Details</a></div>
        <div><a href="/admin/view-room" class="btn btn-primary">View Room Details</a></div>
        <div><a href="/admin/view-subject" class="btn btn-primary">View Subjects</a></div>
        <div><a href="/admin/add-exam" class="btn btn-primary">Add Exam Date & Time</a></div>
        <div><a href="/admin/view-exam" class="btn btn-primary">View Exam Date & Time</a></div>
        <div><a href="/admin/add-exam-room" class="btn btn-primary">Assign Exam Rooms</a></div>
        <div><a href="/admin/view-exam-room" class="btn btn-primary">View Exam Rooms</a></div>
        <div><a href="/admin/add-schedule" class="btn btn-primary">Set Exam Schedule</a></div>
        <div><a href="/admin/view-schedule" class="btn btn-primary">View Exam Schedule</a></div>
    </div>
</div>
<%- include('includes/end') %>
